.pageBox {
    margin: 0 20px;
    width: 85%;
    margin-left: 200px;
}

.foot {
    margin-top: 10px;
    margin-bottom: 10px;
}

.foot button {
    width: 70px;
    height: 35px;
    margin-left: 15px;
}

.classifyFoot {
    height: 35px;
}