.rightWrap{
    margin-left: 150px;
}
.classifyList{
    width: 600px;
}
.classifyList ul{
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
.classifyList ul li{
    width:100px;
    height: 40px;
    text-align: center;
    line-height:40px ;
    margin-bottom: 10px;
    margin-left: 10px;
}