.rightWrap{
    flex-grow: 1;
}
.inputWrap,.addComment,.commentShow{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
}
.inputWrap input{
    height: 50px;
}
.contentInput{
    height: 400px;
}
.inputWrap button,.addComment button{
    width: 60px;
    height: 40px;
}
.addComment input{
    height: 200px;
}
.commentShow{
    padding-bottom: 30px;
}
.commentShow ul,.personWrap ul{
    list-style: none;
    padding-left: 0px;
}
.commentShow ul li,.personWrap ul li{
    margin-bottom: 10px;
}
.personWrap ul li{
    margin-left: 20px;
}

.hotTitle{
    margin-left: 150px;
}

.imgs{
    width: 20px;
    height: 20px;
}