/* leftNav */
.wrap {
  display: flex;
  width: 100%;
  height: 100%;
}

.wrap::after {
  content: "";
  display: block;
  clear: both;
}

.leftNav {
  width: 150px;
  height: 100%;
  background-color: rgb(7, 85, 112);
  position: absolute;
}

.btn {
  width: 100%;
  height: 50px;
  margin-top: 10px;
  background-color: rgb(82, 113, 140);
}

.listWrap ul {
  list-style: none;
}

.pageItem {
  height: 160px;
  padding-left: 20px;
  margin-top: 20px;
}

.pageTitle {
  font-size: 20px;
}

.pageTitle:hover {
  color: lightsteelblue;
  text-decoration: underline;
}

/* 设置文本超过两行省略 */
.pageContet {
  width: 90%;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  margin-bottom: 10px;
}

.pageContet:hover {
  text-decoration: underline;
}

.pageFoot {
  height: 30px;
  line-height: 30px;
}

.pageFoot button {
  width: 70px;
  height: 35px;
  margin-left: 15px;
}

.timeShow {
  position: absolute;
  right: 20px;
}

.imgs {
  width: 20px;
  height: 20px;
}